{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}


<div class="container">
		<div class="table-responsive">
			<div class="table-wrapper">
			<form action='.' method="POST">{% csrf_token %}
				<div class="table-title">
					<div class="row">
						<div class="col-xs-6">
							<h2><b>Delete</b></h2>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<p>Are you sure you want to delete {{object.title}} by {{object.author}}</p>
					<p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<a href="/manage" class="btn btn-default" role="button">Cancel</a>
					<input type="submit" class="btn btn-danger" value="Delete">
				</div>
			</form>
</div>
{% endblock %}